<div class="col-lg-8">
    <div class="container">
        <div id="chat-body" class="panel panel-default">
            <div class="panel-heading" style="color: white; background: darkblue">Whisper Booth</div>
            <div id="msg-list-div" class="panel-body">
                <ul id="msg-list" class="list-group">
                    {% for message in messages %}
                    <b>{{ message.by_user }}</b>
                    {% if message.by_user == request.user %}
                    <li class="text-right list-group-item">{{ message.text }}</li>
                    {% else %}
                    <li class="text-left list-group-item">{{ message.text }}</li>
                    {% endif %}
                    {% empty %}
                    <li class="text-right list-group-item">No messages yet!</li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <br>

        <h3> Send Message </h3>

        <form id="chat-form" method="post" action="{% url 'chat_app:send_message' %}">
            {% csrf_token %}
            <div id="chat-bottom" class="input-group">
                <textarea id="chat-msg" name="chat-msg" class="form-control" />
                </textarea>
                <span class="input-group-btn">
                    <input class="btn btn-default" id="send" type="submit" style="color: darkblue; padding: 16px"
                        value="Send" />
                </span>
            </div>
        </form>

        <p><a href="{% url 'logout' %}">Log Out</a></p>

    </div>
</div>